https://www.kaggle.com/t/979a8077f0c8451391e4dbb38762a5ac

In [1]:
import numpy as np
import pandas as pd

## 1. Get data

Загрузим данные и посмотрим на них:

In [3]:
train_data = pd.read_csv("train.csv")
train_data.head(100)

,id,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,target
0,21983,18,Private,141363,Some-college,10,Never-married,Other-service,Not-in-family,White,Female,0,0,40,United-States,0
1,10063,38,Private,179579,Some-college,10,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,?,1
2,16273,63,Private,172740,Some-college,10,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,0
3,2208,35,Private,47707,HS-grad,9,Never-married,Other-service,Not-in-family,Black,Female,0,0,40,United-States,1
4,15914,32,Private,48458,HS-grad,9,Never-married,Sales,Own-child,Black,Female,0,1669,45,United-States,0
5,2847,48,Private,75104,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,1
6,13636,38,Private,186191,Bachelors,13,Never-married,Prof-specialty,Own-child,White,Male,0,0,40,United-States,0
7,12532,43,Private,210844,Bachelors,13,Divorced,Exec-managerial,Not-in-family,Black,Female,0,0,40,United-States,1
8,19143,45,Private,131826,Some-college,10,Married-civ-spouse,Handlers-cleaners,Husband,White,Male,0,0,40,United-States,0
9,16484,31,Private,152156,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,45,United-States,1
10,14121,40,Private,105794,Prof-school,15,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,0
11,19089,43,Private,130126,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,15024,0,50,United-States,0
12,15760,42,Private,322385,Assoc-voc,11,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,2407,0,40,United-States,0
13,20647,19,?,117201,Some-college,10,Never-married,?,Own-child,White,Male,0,0,22,United-States,1
14,8670,50,Private,24013,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,84,United-States,1
15,16162,31,Private,211880,Bachelors,13,Married-civ-spouse,Sales,Husband,White,Male,0,0,40,United-States,0
16,15934,65,Private,185001,10th,6,Widowed,Sales,Not-in-family,White,Female,0,0,20,United-States,1
17,18187,51,Private,95128,HS-grad,9,Divorced,Craft-repair,Not-in-family,White,Male,0,0,40,United-States,0
18,3538,81,Self-emp-not-inc,137018,HS-grad,9,Widowed,Adm-clerical,Not-in-family,White,Female,0,0,20,United-States,1
19,21038,54,Private,185407,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,60,United-States,0
20,7419,47,Self-emp-inc,332355,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,15024,0,50,United-States,0
21,7624,41,Private,155106,HS-grad,9,Married-civ-spouse,Handlers-cleaners,Husband,White,Male,0,0,40,United-States,0
22,7511,62,?,225657,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,0,0,24,United-States,0
23,18879,42,Private,155972,HS-grad,9,Married-civ-spouse,Handlers-cleaners,Husband,White,Male,0,0,40,United-States,0
24,6590,25,Private,175370,Some-college,10,Divorced,Machine-op-inspct,Own-child,White,Female,0,0,40,United-States,0
25,14965,23,Private,413345,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Female,0,0,60,United-States,0
26,12094,24,?,151153,Some-college,10,Never-married,?,Not-in-family,Asian-Pac-Islander,Male,99999,0,50,South,1
27,10828,35,Private,149347,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,45,United-States,0
28,12390,39,Private,203180,Some-college,10,Divorced,Farming-fishing,Unmarried,White,Female,0,0,45,United-States,0
29,12423,17,Private,413557,11th,7,Never-married,Adm-clerical,Own-child,White,Female,0,0,32,United-States,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,19457,29,Private,204984,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,50,United-States,0
71,6970,46,Private,150499,Assoc-acdm,12,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,0
72,20568,22,Private,137876,Some-college,10,Never-married,Protective-serv,Not-in-family,White,Male,0,0,20,United-States,0
73,15384,55,Private,56645,Bachelors,13,Widowed,Farming-fishing,Own-child,Asian-Pac-Islander,Male,0,0,40,United-States,1
74,18085,34,Private,113198,Assoc-acdm,12,Married-civ-spouse,Adm-clerical,Husband,White,Male,0,0,28,United-States,1
75,7510,22,Private,102684,Some-college,10,Never-married,Transport-moving,Not-in-family,White,Male,0,0,32,United-States,0
76,7846,36,Private,156400,Some-college,10,Divorced,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,0
77,13387,32,Self-emp-not-inc,203408,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,44,United-States,1
78,4116,34,Private,275438,Some-college,10,Married-civ-spouse,Prof-specialty,Husband,White,Male,5178,0,40,United-States,0
79,7227,27,Private,233421,Some-college,10,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,0
80,15844,23,Private,256628,7th-8th,4,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,32,United-States,0
81,7371,42,Private,166740,Bachelors,13,Divorced,Prof-specialty,Not-in-family,White,Male,0,0,40,United-States,0
82,17159,20,Private,352139,Some-college,10,Divorced,Other-service,Own-child,White,Female,0,0,29,United-States,0
83,5388,24,Private,119704,HS-grad,9,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,40,United-States,0
84,22333,36,Private,152621,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,Canada,1
85,14360,38,Private,73471,Some-college,10,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,United-States,0
86,20386,29,Local-gov,419722,Assoc-acdm,12,Never-married,Adm-clerical,Not-in-family,White,Male,3674,0,40,United-States,0
87,11394,59,Local-gov,114401,HS-grad,9,Widowed,Other-service,Not-in-family,White,Female,0,1504,19,United-States,0
88,13685,42,Private,190786,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,0
89,7687,35,Local-gov,107233,HS-grad,9,Never-married,Adm-clerical,Unmarried,Amer-Indian-Eskimo,Male,0,0,55,United-States,0
90,5451,21,Private,206492,HS-grad,9,Never-married,Sales,Own-child,White,Female,0,0,40,?,0
91,20764,25,Private,121712,Bachelors,13,Divorced,Craft-repair,Not-in-family,White,Male,0,0,40,United-States,0
92,2727,30,Federal-gov,68330,Bachelors,13,Never-married,Prof-specialty,Not-in-family,White,Male,0,0,40,United-States,1
93,17038,37,Private,126675,HS-grad,9,Never-married,Craft-repair,Not-in-family,White,Male,0,0,40,United-States,0
94,21084,35,Private,65876,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,0
95,6392,41,State-gov,47170,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Amer-Indian-Eskimo,Female,0,0,48,United-States,0
96,11816,30,Private,197886,Some-college,10,Never-married,Sales,Not-in-family,White,Male,0,0,45,United-States,1
97,840,63,Private,86108,HS-grad,9,Widowed,Farming-fishing,Not-in-family,White,Male,0,0,6,United-States,0
98,12566,42,Private,211450,Masters,14,Never-married,Exec-managerial,Not-in-family,White,Male,0,0,45,United-States,1
99,14676,48,Private,167009,Some-college,10,Divorced,Adm-clerical,Not-in-family,White,Female,0,0,48,United-States,0

In [4]:
X_train, y_train = train_data.drop("target", axis=1), train_data["target"]

## 2. Preprocessing

In [5]:
train_data.isna().any()

id                 False
 age               False
 workclass         False
 fnlwgt            False
 education         False
 education-num     False
 marital-status    False
 occupation        False
 relationship      False
 race              False
 sex               False
 capital-gain      False
 capital-loss      False
 hours-per-week    False
 native-country    False
target             False
dtype: bool

In [12]:
X_train.describe()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week
count,15792.000000,1.579200e+04,15792.000000,15792.000000,15792.000000,15792.000000
mean,38.545149,1.884290e+05,10.076621,1056.280965,88.317313,40.466692
std,13.629909,1.035746e+05,2.551692,7291.307566,404.290335,12.309974
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.181610e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.777270e+05,10.000000,0.000000,0.000000,40.000000
75%,47.000000,2.354528e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

In [8]:
X_train.columns

Index(['id', ' age', ' workclass', ' fnlwgt', ' education', ' education-num',
       ' marital-status', ' occupation', ' relationship', ' race', ' sex',
       ' capital-gain', ' capital-loss', ' hours-per-week', ' native-country'],
      dtype='object')

In [14]:
X_train[' occupation'].unique()

array([' Other-service', ' Prof-specialty', ' Sales', ' Exec-managerial',
       ' Handlers-cleaners', ' Craft-repair', ' Machine-op-inspct', ' ?',
       ' Adm-clerical', ' Farming-fishing', ' Transport-moving',
       ' Tech-support', ' Protective-serv', ' Priv-house-serv',
       ' Armed-Forces'], dtype=object)

### Dealing with categorical features

In [11]:
X_train.drop("id", axis=1, inplace=True)

In [13]:
X_train.drop(' education', axis=1, inplace=True)

In [22]:
X_train.drop(' fnlwgt', axis=1, inplace=True)

#### Convert categirical features to numerical and binarize them

In [15]:
X_train.head()

,client_id,gender,age,marital_status,job_position,credit_sum,credit_month,tariff_id,score_shk,education,monthly_income,credit_count,overdue_credit_count
0,1,M,25,UNM,SPC,26389.0,10,1.32,0.584105,SCH,35000.0,2.0,0.0
1,2,F,37,MAR,SPC,19588.0,12,1.43,0.718935,SCH,15000.0,0.0,0.0
2,3,F,28,UNM,SPC,53669.0,18,1.10,0.586015,GRD,70000.0,4.0,0.0
3,4,M,34,MAR,SPC,26349.0,10,1.43,0.655703,SCH,42500.0,4.0,0.0
4,5,F,43,MAR,UMN,11589.0,10,1.10,0.271893,GRD,20000.0,3.0,0.0

In [16]:
# https://pandas.pydata.org/pandas-docs/stable/generated/pandas.get_dummies.html
X_train = pd.get_dummies(X_train, columns=[])

In [17]:
X_train.head()

,client_id,age,credit_sum,credit_month,tariff_id,score_shk,monthly_income,credit_count,overdue_credit_count,gender_F,...,job_position_SPC,job_position_UMN,job_position_WOI,job_position_WRK,job_position_WRP,education_ACD,education_GRD,education_PGR,education_SCH,education_UGR
0,1,25,26389.0,10,1.32,0.584105,35000.0,2.0,0.0,0,...,1,0,0,0,0,0,0,0,1,0
1,2,37,19588.0,12,1.43,0.718935,15000.0,0.0,0.0,1,...,1,0,0,0,0,0,0,0,1,0
2,3,28,53669.0,18,1.10,0.586015,70000.0,4.0,0.0,1,...,1,0,0,0,0,0,1,0,0,0
3,4,34,26349.0,10,1.43,0.655703,42500.0,4.0,0.0,0,...,1,0,0,0,0,0,0,0,1,0
4,5,43,11589.0,10,1.10,0.271893,20000.0,3.0,0.0,1,...,0,1,0,0,0,0,1,0,0,0

## 3. Build the model

In [18]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_score
from sklearn.metrics import f1_score
from sklearn.grid_search import GridSearchCV

На каггле наши ответы будут оцениваться метрикой F1.

In [21]:
rf = RandomForestClassifier(random_state=42)

params = {
    'n_estimators' : [10, 100, 500],
    'max_depth' : [None, 3, 9]
}

gsv_rf = GridSearchCV(rf, param_grid=params, scoring='f1', cv=5, verbose=1)
gsv_rf.fit(X_train, y_train)
gsv_rf.best_params_, gsv_rf.best_score_

Fitting 5 folds for each of 9 candidates, totalling 45 fits

ValueError: could not convert string to float: ' United-States'

Натренируем на всех примерах:

In [30]:
rf = RandomForestClassifier(n_estimators=50, max_depth=9)
rf.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=9, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=50, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

## 4. Process test data

In [31]:
X_test = pd.read_csv("test.csv")
X_test.head()

,client_id,gender,age,marital_status,job_position,credit_sum,credit_month,tariff_id,score_shk,education,living_region,monthly_income,credit_count,overdue_credit_count
0,119519,F,24,MAR,SPC,28429.0,18,1.10,0.593836,GRD,ОБЛ ИРКУТСКАЯ,33000.0,3.0,0.0
1,119520,M,25,UNM,SPC,15997.0,10,1.60,0.615015,SCH,УЛЬЯНОВСКАЯ ОБЛ,35000.0,2.0,0.0
2,119521,M,25,UNM,SPC,11043.0,10,1.16,0.666758,SCH,РЕСП БАШКОРТОСТАН,25000.0,3.0,0.0
3,119522,F,34,MAR,SPC,14617.0,10,1.40,0.447745,GRD,ПЕНЗЕНСКАЯ ОБЛ,15000.0,2.0,0.0
4,119523,M,33,MAR,SPC,38147.0,12,1.60,0.706974,UGR,ОБЛ МОСКОВСКАЯ,55000.0,1.0,0.0

Нам нужно предобработать тестовые данные точно так же, как тренировочные, чтобы можно было засовывать их в модели, обученные на тренировочных данных.

In [32]:
X_test.isna().any()

client_id               False
gender                  False
age                     False
marital_status          False
job_position            False
credit_sum              False
credit_month            False
tariff_id               False
score_shk               False
education               False
living_region            True
monthly_income           True
credit_count             True
overdue_credit_count     True
dtype: bool

In [33]:
X_test.drop("living_region", axis=1, inplace=True)

In [34]:
X_test["monthly_income"].fillna(X_train["monthly_income"].median(), inplace=True)
X_test["credit_count"].fillna(1., inplace=True)
X_test["overdue_credit_count"].fillna(0., inplace=True)

In [35]:
X_test = pd.get_dummies(X_test, columns=cat_features)

In [36]:
X_test.head()

,client_id,age,credit_sum,credit_month,tariff_id,score_shk,monthly_income,credit_count,overdue_credit_count,gender_F,...,job_position_SPC,job_position_UMN,job_position_WOI,job_position_WRK,job_position_WRP,education_ACD,education_GRD,education_PGR,education_SCH,education_UGR
0,119519,24,28429.0,18,1.10,0.593836,33000.0,3.0,0.0,1,...,1,0,0,0,0,0,1,0,0,0
1,119520,25,15997.0,10,1.60,0.615015,35000.0,2.0,0.0,0,...,1,0,0,0,0,0,0,0,1,0
2,119521,25,11043.0,10,1.16,0.666758,25000.0,3.0,0.0,0,...,1,0,0,0,0,0,0,0,1,0
3,119522,34,14617.0,10,1.40,0.447745,15000.0,2.0,0.0,1,...,1,0,0,0,0,0,1,0,0,0
4,119523,33,38147.0,12,1.60,0.706974,55000.0,1.0,0.0,0,...,1,0,0,0,0,0,0,0,0,1

## 5. Get file with answers

In [37]:
preds = rf.predict(X_test)

In [38]:
preds.mean()

0.002889383468041076

In [40]:
ans = pd.DataFrame(np.concatenate([X_test["client_id"].reshape(-1, 1), preds.reshape(-1, 1)], axis=1), columns=["client_id", "open_account_flg"])

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: reshape is deprecated and will raise in a subsequent release. Please use .values.reshape(...) instead
  """Entry point for launching an IPython kernel.

In [41]:
ans.to_csv("sampleSubmission.csv", index=None)